
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>topaz Documentation</title>
  <meta name="description" content="documentation page">
  <meta name="author" content="https://github.com/jcorks/topaz/">

  <link rel="stylesheet" href="../style.css?v=1.0">

</head>

<body>
<div class="navarea">
<img src="../logoreduced.png"class="navlogo">

</img>
<div class="navbar"id="navbar">

</div>

</div>
<div>
<div class="navlist">
<div>
<input class="navsearch-input"id="searchbar"type="search"onchange="docext_on_input()"oninput="docext_on_input()">

</input>

</div>
<div id="searchresults">

</div>

</div>
<div class="symbollist">
<div class="Class">
<div class="typetag">
(Class)</br>
</div>
<div>
<h1 id="Topaz.Component">
Topaz.Component
</h1>
<pre>
 Extends the functionality of Entities.

 Each component can hold its own update cycle (step / draw)
 as well as implement a generic event / callback system, 
 allowing for extensions of all kinds.


</pre>
<div>
</br><b>Member Functions:</b></br></br>
</div>
<div class="PublicSymbols">
<div>
<a href="Topaz.Component.html#destroy">
destroy()
</a>

</div>
<div>
<a href="Topaz.Component.html#step">
step()
</a>

</div>
<div>
<a href="Topaz.Component.html#draw">
draw()
</a>

</div>
<div>
<a href="Topaz.Component.html#emit">
emit()
</a>

</div>
<div>
<a href="Topaz.Component.html#canHandleEvent">
canHandleEvent()
</a>

</div>
<div>
<a href="Topaz.Component.html#installEvent">
installEvent()
</a>

</div>
<div>
<a href="Topaz.Component.html#uninstallEvent">
uninstallEvent()
</a>

</div>
<div>
<a href="Topaz.Component.html#installHook">
installHook()
</a>

</div>
<div>
<a href="Topaz.Component.html#uninstallHook">
uninstallHook()
</a>

</div>
<div>
<a href="Topaz.Component.html#installHandler">
installHandler()
</a>

</div>
<div>
<a href="Topaz.Component.html#uninstallHandler">
uninstallHandler()
</a>

</div>

</div>
<div>
</br></br><b>Public Variables:</b></br></br>
</div>
<div class="PublicMembers">
<div>
<span class="VariableType">
Boolean
</span>
<span class="VariableName">
 stepping
</span>

</div>
<pre>
 Sets/Gets whether this component will step when its host entity steps.
 Default is true.

</pre>
<div>
<span class="VariableType">
Boolean
</span>
<span class="VariableName">
 drawing
</span>

</div>
<pre>
 Sets/Gets whether this component will draw when its host entity steps.
 Default is true.

</pre>
<div>
<span class="VariableType">
String
</span>
<span class="VariableName">
 tag
</span>

</div>
<pre>
 Sets/Gets the tag for this entity. 

</pre>
<div>
<span class="VariableType">
<a href="Topaz.Entity.html#Topaz.Entity">
Topaz.Entity
</a>

</span>
<span class="VariableName">
 host
</span>

</div>
<pre>
 Sets/Gets the entity that this component belongs to.
 See Topaz.Entity for how to attach components

</pre>
<div>
<span class="VariableType">
Function
</span>
<span class="VariableName">
 onStep
</span>

</div>
<pre>
 The function to run every step.


</pre>
<div>
<span class="VariableType">
Function
</span>
<span class="VariableName">
 onDraw
</span>

</div>
<pre>
 The function to run every draw frame.


</pre>
<div>
<span class="VariableType">
Function
</span>
<span class="VariableName">
 onAttach
</span>

</div>
<pre>
 The function to run when attaching this entity to a parent.


</pre>
<div>
<span class="VariableType">
Function
</span>
<span class="VariableName">
 onDetach
</span>

</div>
<pre>
 The function to run when detaching this entity to a parent.


</pre>
<div>
<span class="VariableType">
Function
</span>
<span class="VariableName">
 onDestroy
</span>

</div>
<pre>
 The function to run when this component is destroyed


</pre>

</div>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">

</h5>
<h3 id="destroy">
destroy()
</h3>
<pre>
 Destroys a component. This detaches the component from the entity 
 which emits the detach event.


</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">

</h5>
<h3 id="step">
step()
</h3>
<pre>
 Steps the component. Normally called for you if attached to a host.


</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">

</h5>
<h3 id="draw">
draw()
</h3>
<pre>
 Draws the component. Normally called for you if attached to a host.


</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">

</h5>
<h3 id="emit">
emit(
</h3>
<table>
<tr>
<th class="FunctionArgumentType">
String
</th>
<th class="FunctionArgumentName">
event
</th>

</tr>
<tr>
<th class="FunctionArgumentType">
<a href="Topaz.Entity.html#Topaz.Entity">
Topaz.Entity
</a>

</th>
<th class="FunctionArgumentName">
source
</th>

</tr>

</table>
<h3>
)
</h3>
<pre>
 Triggers the specified event for this Component

 Returns whether the event was allowed to propogate all the
 way to the main handler (in other words, lets you know whether
 all the handlers allowed the event to happen)
 Source is passed to the handler and is usually the source of the event (but does not have to be)

</pre>
<div>
<b>Arguments:</b></br></br>
</div>
<div>
event
</div>
<pre>
 Name of the event. This should match the name that was installed.

</pre>
<div>
source
</div>
<pre>
 Entity that indicates the source of the event. For example, in a collision, this may be the object collided with.
 In most languages, can be omitted to emit ana anonymously-sourced event.

</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">

</h5>
<h3 id="canHandleEvent">
canHandleEvent(
</h3>
<table>
<tr>
<th class="FunctionArgumentType">
String
</th>
<th class="FunctionArgumentName">
name
</th>

</tr>

</table>
<h3>
)
</h3>
<pre>
 Returns whether there exists at least one handler for the given event


</pre>
<div>
<b>Arguments:</b></br></br>
</div>
<div>
name
</div>
<pre>
 Name to query.

</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">

</h5>
<h3 id="installEvent">
installEvent(
</h3>
<table>
<tr>
<th class="FunctionArgumentType">
String
</th>
<th class="FunctionArgumentName">
event
</th>

</tr>
<tr>
<th class="FunctionArgumentType">
Function
</th>
<th class="FunctionArgumentName">
callback
</th>

</tr>

</table>
<h3>
)
</h3>
<pre>
 Adds a new event to be recognized by the Component.

 if mainHandler is nullptr, the event is still added, but has no default
 handler is set. The default handler is always guaranteed to run first for the event.

</pre>
<div>
<b>Arguments:</b></br></br>
</div>
<div>
event
</div>
<pre>
 The name of the event.

</pre>
<div>
callback
</div>
<pre>
 The default handler for the new event.
 Arguments when called:
 This component, possible entity source.

</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">

</h5>
<h3 id="uninstallEvent">
uninstallEvent(
</h3>
<table>
<tr>
<th class="FunctionArgumentType">
String
</th>
<th class="FunctionArgumentName">
event
</th>

</tr>

</table>
<h3>
)
</h3>
<pre>
 removes a handler of an event


</pre>
<div>
<b>Arguments:</b></br></br>
</div>
<div>
event
</div>
<pre>
 The event to uninstall.

</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">
Int
</h5>
<h3 id="installHook">
installHook(
</h3>
<table>
<tr>
<th class="FunctionArgumentType">
String
</th>
<th class="FunctionArgumentName">
event
</th>

</tr>
<tr>
<th class="FunctionArgumentType">
Function
</th>
<th class="FunctionArgumentName">
callback
</th>

</tr>

</table>
<h3>
)
</h3>
<pre>
 Adds a hook to the event. 

 A hook happens at the end of a given event after all the
 handlers have been run. Hooks occur regardless of event handler propogation.
 (the return value is ignored for all hooks)

</pre>
<div>
<b>Arguments:</b></br></br>
</div>
<div>
event
</div>
<pre>
 The event to add the hook to.

</pre>
<div>
callback
</div>
<pre>
 Arguments when called:
 This component, possible entity source.

</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">

</h5>
<h3 id="uninstallHook">
uninstallHook(
</h3>
<table>
<tr>
<th class="FunctionArgumentType">
String
</th>
<th class="FunctionArgumentName">
event
</th>

</tr>
<tr>
<th class="FunctionArgumentType">
Int
</th>
<th class="FunctionArgumentName">
id
</th>

</tr>

</table>
<h3>
)
</h3>
<pre>
 Removes a hook added with installHook()


</pre>
<div>
<b>Arguments:</b></br></br>
</div>
<div>
event
</div>
<pre>
 The event to remove the hook from.

</pre>
<div>
id
</div>
<pre>
 Id of the hook, returned from installHook().

</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">
Int
</h5>
<h3 id="installHandler">
installHandler(
</h3>
<table>
<tr>
<th class="FunctionArgumentType">
String
</th>
<th class="FunctionArgumentName">
event
</th>

</tr>
<tr>
<th class="FunctionArgumentType">
Function
</th>
<th class="FunctionArgumentName">
handler
</th>

</tr>

</table>
<h3>
)
</h3>
<pre>
 Adds a handler to an event. 

 Handlers that are added are run in LIFO order
 and their return values dictate whether the event should propogate.
 the last handler run for an event is always the main handler of the event.

</pre>
<div>
<b>Arguments:</b></br></br>
</div>
<div>
event
</div>
<pre>
 The event name to install to.

</pre>
<div>
handler
</div>
<pre>
 Arguments when called:
 This component, possible entity source.

</pre>

</div>
</br>
</div>
<div class="Function">
<div class="typetag">
(Function)</br>
</div>
<div>
<h5 class="FunctionReturnValue">

</h5>
<h3 id="uninstallHandler">
uninstallHandler(
</h3>
<table>
<tr>
<th class="FunctionArgumentType">
String
</th>
<th class="FunctionArgumentName">
event
</th>

</tr>
<tr>
<th class="FunctionArgumentType">
Int
</th>
<th class="FunctionArgumentName">
id
</th>

</tr>

</table>
<h3>
)
</h3>
<pre>
 Removes a handler installed with installHandler()

</pre>
<div>
<b>Arguments:</b></br></br>
</div>
<div>
event
</div>
<pre>
 The event to remove the handler from.

</pre>
<div>
id
</div>
<pre>
 Id of the hook, returned from installHandler().

</pre>

</div>
</br>
</div>

</div>

</div>
<i class="symbollist credits">
Generated by Topaz v0.2.0. Johnathan Corkery, 2022. <a href="https://github.com/jcorks/topaz">https://github.com/jcorks/topaz</a>
</i>

</body>
<script src="searchindex_db.js"></script>
<script src="doclinks_db.js"></script>
<script src="../docext.js"></script>
</html>
